<!DOCTYPE html>
html#here
  head
    link(rel='apple-touch-icon' sizes='180x180' href='/images/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/images/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/images/favicon-16x16.png')
    meta(charset='utf-8')
    link(rel='manifest' href='/manifest.json')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='theme-color' content='#000000')
    link(rel='shortcut icon' href='../images/fav_icon.png' type='image/x-icon')
    link(rel='stylesheet' type='text/css' href='../css/reset.css')
    link(rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet')
    link(rel='stylesheet' type='text/css' href='https://unpkg.com/bulma@0.8.0/css/bulma.min.css')
    link(rel='stylesheet' type='text/css' href='../css/site.css')
    link(rel='stylesheet' type='text/css' href='../css/feedback.css')
    script(type="text/javascript" src="https://browser.sentry-cdn.com/5.15.5/bundle.min.js" integrity="sha384-wF7Jc4ZlWVxe/L8Ji3hOIBeTgo/HwFuaeEfjGmS3EXAG7Y+7Kjjr91gJpJtr+PAT" crossorigin="anonymous")
    meta(name='viewport' content='width=device-width')
    meta(charset='utf-8')
    title #{title}
    block styles
    
    body#menu
      section.hero.is-light.is-fullheight
        .hero-head
          include ./includes/navbar.pug
        .hero-body
          .container
            noscript
              .level
                .level-item
                  div#feedback-form.box
                    div
                      p.is-size-4.has-text-gray.has-text-centered It looks like we're having some internal issues.
                      p.is-size-6.has-text-grey-light.has-text-centered Our team has been notified. If you'd like to help, tell us what happened below.
                    form#feedback.form(action="/feedback" method="POST")
                      input(readonly class="is-hidden" name="eventId" type="hidden" value=(eventId))
                      .field
                        label.label Name 
                          if errors.name 
                            p.has-text-danger #{errors.name}
                          .control
                            input.input.is-medium(maxlength="100" name="name" value=(name) type="text" placeholder="Mary Mack")
                      .field
                        label.label Email
                          if errors.email 
                            p.has-text-danger #{errors.email}
                          .control
                            input.input.is-medium(maxlength="100" name="email" value=(email) type="email" placeholder="mary@example.com")
                      .field
                        label.label What Happened?
                          if errors.comments 
                            p.has-text-danger #{errors.comments}
                          textarea.textarea.is-medium(maxlength="500" name="comments" value=comments placeholder="I clicked on 'X' and then hit 'Confirm'")
                      button.button.is-info.is-pulled-right(type="submit") Submit
    script(type='text/javascript' src='../js/site.js')
    script(type='text/javascript' src='../js/error.js')
    script(type="text/javascript")
      | window.eventId = '#{eventId}';